@import "theme.scss";

html, body {
  height: 100%;
  color: $text-color;
  background-color: #15202b;;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $text-color;
}

button.icon-button-highlight {
  &:hover {
    background: $background-color;
  }
}
