@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  background-color: #fafafa
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-width {
  width: 100%;
}

button {
  cursor: pointer;
}
