<div class="tweet-container">
  <app-avatar [url]="tweet.createdBy.photoUrl"></app-avatar>
  <div class="tweet-content">
    <div class="tweet-meta-info">
      <span class="tweet-meta-info-name">{{ tweet.createdBy.name }}</span>
      <span class="tweet-meta-info-secondary">@{{ tweet.createdBy.username }}</span>
      <span class="tweet-meta-info-secondary">{{ tweet.createdAt | tweetDate }}</span>
    </div>
    <div>
      <span>{{ tweet.text }}</span>
    </div>
    <div *ngIf="tweet.photos && tweet.photos.length" class="tweet-photos">
      <img [src]="tweet.photos[0]" class="tweet-photo"/>
    </div>
    <div class="tweet-actions" *ngIf="!hideActions">
      <button mat-icon-button class="icon-button-highlight tweet-action small-icon-button">
        <mat-icon>comment</mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-button-highlight tweet-action small-icon-button"
        [class.active]="isLiked"
        (click)="like()"
      >
        <mat-icon>favorite</mat-icon>
        <span class="tweet-action-desc">{{ likesCount }}</span>
      </button>
      <button mat-icon-button class="icon-button-highlight tweet-action small-icon-button">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</div>
